#table-1{
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid  rgb(223, 211, 211);
}
#ID-1 {
    background-color: black;
    color: white;
}
.tr3 {
    border-bottom: 1px solid rgb(223, 211, 211);
    height: 40px;;
}
.tr5 {
    border-bottom: 1px solid rgb(223, 211, 211);
    height: 40px;
}
.gray-row{
    background-color: rgb(236, 224, 224);
    height: 40px;
    border-bottom: 1px solid rgb(223, 211, 211);
}
#register {
    background-color:blue;
    color: white;
    border-radius: 5px;
    border-color: blue;
    border-style: solid;
    height: 35px;
    
}
.item{
    color: blue;
}
.instock{
    color: red;
}
.detail{
    background-color:blue;
    color: white;
    border-radius: 5px;
    border-color: blue;
    border-style: solid;
    height: 30px;
    width: max-content;
}


.table-2{
    border: 1px solid rgb(223, 211, 211);
    border-collapse: collapse;
    border-radius: 5px;
    width: 50%;
}
.tr-1 {
    border-bottom: 1px solid rgb(223, 211, 211);
    height: 50px;
}
.tr-2 {
    border-bottom: 1px solid rgb(223, 211, 211);
    height: 50px;
}
.tr-3 {
    border-bottom: 1px solid rgb(223, 211, 211);
    height: 50px;
}
.like{
    background-color:blue;
    border-radius: 20px;
    border: 0px;
    height: max-content;
    color: white;
}
.heart {
    background-color:red;
    border-radius: 20px;
    border: 0px;
    height: max-content;
    color: white;
}
.view {
    background-color:gray;
    border-radius: 20px;
    border: 0px;
    height: max-content;
    color: white;
}


#my-box {
    border: 1px solid rgb(223, 211, 211);
    width: max-content;
    padding: 10px;
}
.span-1 {
    color: red
}
.text-input {
    border:1px solid rgb(223, 211, 211);
    border-radius: 3px;
}